$red: #E07A5F;
$white: #F6F8F8;
$grey: #616163;
$green: #81B29A;
$dark: #293241;

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: bold;
    src: url("fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: normal;
    src: url("fonts/Ubuntu/Ubuntu-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: bold;
    src: url("fonts/Ubuntu/Ubuntu-BoldItalic.ttf") format("truetype");
}
