<div class="row">
    <div class="col-md-9">
        <h2>List of operations</h2>

        <my-operations-list [operations]="operations"></my-operations-list>
    </div>

    <div class="col-md-3">
        <ul class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-warning" [routerLink]="['/operations/detail']">Add a new manual operation</a>
            <a class="list-group-item list-group-item-action list-group-item-success" [routerLink]="['/operations/import/file/CA-TXT']">Import file CA TXT</a>
        </ul>
    </div>
</div>
