<div class="row">
    <div class="col-md-7">
        <h2>List of tags</h2>

        <ul class="list-group">
            <button type="button" class="list-group-item list-group-item-action" *ngFor="let tag of tags" (click)="selectTag(tag)" [class.active]="tag === selectedTag">
                <span class="tag tag-default tag-pill pull-xs-right">{{tag.id}}</span>
                {{tag.name}}
            </button>
        </ul>
    </div>

    <div class="col-md-5">
        <h2><span *ngIf="selectedTag">Edit the tag "{{selectedTag.name}}"</span><span *ngIf="addingTag">Add a new tag</span></h2>

        <div class="alert alert-danger" role="alert" *ngIf="error">
            <strong>{{error}}</strong>
        </div>

        <div class="form-group row">
            <label for="formTagInputID" class="col-form-label col-md-3">ID:</label>
            <div class="col-md-9">
                <p class="form-control-static">{{modelTag.id}}</p>
            </div>
        </div>
        <div class="form-group row">
            <label for="formTagInputName" class="col-form-label col-md-3">Name:</label>
            <div class="col-md-9">
                <input [(ngModel)]="modelTag.name" class="form-control" id="formTagInputName" placeholder="Name of the tag" />
            </div>
        </div>
        <div class="form-group row">
            <label for="formTagInputMatch" class="col-form-label col-md-3">Auto matches:</label>
            <div class="col-md-9">
                <article>
                    <button type="button" class="btn btn-outline-danger btn-sm" *ngFor="let match of modelTag.autoMatches" (click)="deleteMatch(match)">{{match}}</button>
                </article>
                <div class="input-group">
                    <input [(ngModel)]="newMatch" type="text" id="formTagInputMatch" class="form-control" placeholder="Add a new match">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button" (click)="addMatch()" (keyup.enter)="addMatch()">Add</button>
                    </span>
                </div>
            </div>
        </div>

        <button (click)="save()" class="btn btn-primary">Save</button>
        <button (click)="delete()" class="btn btn-danger" [disabled]="addingTag">Delete</button>
        <button (click)="addTag()" class="btn btn-warning" [disabled]="addingTag">Add New Tag</button>
    </div>
</div>
