<h2>Import operations: <small>{{states[state]}}</small></h2>

<div>
    <div class="alert alert-danger" role="alert" *ngIf="error">
        <strong>{{error}}</strong>
    </div>
    <div class="alert alert-warning" role="alert" *ngFor="let warning of warnings">
        <strong>{{warning}}</strong>
    </div>

    <div class="offset-sm-2 col-sm-8" *ngIf="state == 'select_account'">
        <ul class="list-group">
            <button type="button" class="list-group-item list-group-item-action" *ngFor="let account of accounts" (click)="selectAccount(account)">
                <span class="tag tag-default tag-pill pull-xs-right">{{account.id}}</span>
                {{account.getLongTitle()}}
            </button>
        </ul>
    </div>

    <div class="offset-sm-2 col-sm-8" *ngIf="state == 'select_file'">
        <div class="form-group row">
            <label for="formOperationInputImportFile" class="col-sm-2 col-form-label">Select file</label>
            <div class="col-sm-10">
                <label class="custom-file">
                    <input id="formOperationInputImportFile" [(ngModel)]="modelFile" (change)="onChange($event)" type="file" class="custom-file-input">
                    <span class="custom-file-control"></span>
                </label>
            </div>
        </div>
    </div>

    <div *ngIf="state == 'confirm_importation'">
        <section>
            <my-operations-list [operations]="operations"></my-operations-list>
        </section>

        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button (click)="cancelImport()" class="btn btn-warning">Cancel importation</button>
                <button (click)="addOperations()" class="btn btn-primary">Add these operations</button>
            </div>
        </div>
    </div>
</div>
