@import 'general';

body {
    font-family: "Ubuntu";
}

body, #main-header, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .nav-tabs, section {
    margin-bottom: 1rem;
}

article {
    margin-bottom: 0.5rem;
}

select[multiple] {
    overflow-y: auto;
    height: 15rem;
}

.tag, .btn {
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
}

.display-on-hover-only {
    display: none;
}

.display-elements-hover-only:hover .display-on-hover-only {
    display: inherit;
}
