@import 'general';

body {
    font-family: "Ubuntu";
}

body, #main-header, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .nav-tabs, section {
    margin-bottom: 1rem;
}

article {
    margin-bottom: 0.5rem;
}

select[multiple] {
    overflow-y: auto;
    height: 15rem;
}

.tag, .btn {
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
}

.display-on-hover-only {
    display: none;
}

.display-elements-hover-only:hover .display-on-hover-only {
    display: inherit;
}

.nvtooltip {
    background: none;
    border: 0;
}
.nvtooltip .card {
    max-width: 300px;
    white-space: normal;
}
.nvtooltip .list-group-item, .nvtooltip .card-header, .nvtooltip .card-footer {
    padding: .25rem .5rem;
}
.nvtooltip .list-group-item {
    border-left: 0;
    border-right: 0;
}
.nvtooltip .list-group-item:first-child {
    border-top: 0;
}
.nvtooltip .list-group-item:last-child {
    border-bottom: 0;
}

.dashboard-filters .input-group-addon {
    width: 100px;
}
.dashboard-filters .list-group-item {
    padding: .25rem .5rem;
}
